<%= link_to 'Home', notes_path%>
<%= link_to 'New note', new_note_path%>

<h1>Edit Note</h1>
<%= form_for @note do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
